%h2 Edit tournament

.row
  .pull-left
    =link_to admin_tournament_path(@tournament), class: 'btn btn-default' do
      =fa_icon "caret-left", text: "Tournament", right: false

.row
  = form_for @tournament, url: admin_tournament_path(@tournament), method: :put do |f|
    = render partial: 'admin/tournaments/form', locals: {tournament: @tournament, f: f}
