%h2= "Participating teams in #{@tournament.name} tournament"

= render partial: '/teams/filter', locals: {action: tournament_teams_path}
= render partial: '/teams/teams', locals: {teams: @teams, edit: false}
