%h2= "Information by #{@user.email}"

%h2 Tournaments
= render partial: '/tournaments/tournaments', locals: {tournaments: @user.tournaments}

%h2 Teams
= render partial: '/teams/teams', locals: {teams: @teams, edit: false}
