%h2 Tournament table
%h3 Regular matches:

%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Place
      %th{:scope => "col"} Command
      %th{:scope => "col"} Games
      %th{:scope => "col"} Victory
      %th{:scope => "col"} Defeat
      %th{:scope => "col"} Scoring Goals - Conceded Goals
      %th{:scope => "col"} Difference
      %th{:scope => "col"} Scores
  %tbody
    - @tournament.matches.select{ |m| m.match_type == 'regular' }.each_with_index do |match, index|
      %tr
        %td= index+1
        -# %td= tournament.number_of_rounds
        -# %td
          -# =link_to 'show', tournament_players_path(tournament)
        -# %td
          -# =link_to 'teams', tournament_teams_path(tournament)
        -# %td
          -# =link_to 'matches', tournament_matches_path(tournament)
          -# %td= tournament.aasm_state
