- if players
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Email
    %tbody#players-table
    - players.each do |user|
      %tr
        %td= user.email
- else
  %p players not found
- if players
  = paginate players
