%h2= "Participants of #{@tournament.name} tournament"

- if @tournament.users
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Email
    %tbody
    - @tournament.users.each do |user|
      %tr
        %td
          = link_to user.email, user_path(user)
- else
  %p players not assign yet
