%h2= "Participants of #{@tournament.name} tournament"

.row
  .pull-left
    =link_to tournaments_path, class: 'btn btn-default' do
      =fa_icon "caret-left", text: "Tournaments", right: false

.row
  = render partial: '/players/players', locals: { tournament: @tournament, players: @players, admin: false }
